*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body, canvas {
  cursor: default;
} */

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

  #tooltip {
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;
    display: none;
    z-index: 10;
  }
body.scalpel-cursor {
  cursor: url('assets/images/cursor-images/scalpel.png') 16 16, auto;
}
body.scissors-cursor {
  cursor: url('assets/images/cursor-images/scissors.png') 16 16, auto;
}
body.forceps-cursor {
  cursor: url('assets/images/cursor-images/forceps.png') 16 16, auto;
}
body.dissectingPins-cursor {
  cursor: url('assets/images/cursor-images/dissectingPins.png') 16 16, auto;
}